<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
   <appSettings>
      <add key="ConnectionString"
           value="Data Source=192.168.16.101\SQLExpress;Initial Catalog=test; User ID=test; Password=monkey;" />
      <add key="NetworkTimeout" value="750" />
      <add key="RemoteNetworkTimeout" value="2500" />
      <add key="LongTimeout" value="2500" />
      <add key="RemoteLongTimeout" value="6000" />
   </appSettings>
</configuration>
